* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}
header a {
  text-decoration: none;
  color: black;
  padding: 15px;
  background: rgb(250, 250, 92);
  border-radius: 20px;
  font-family: "Lobster", cursive;
  font-size: 20px;
  border: 2px solid rgb(251, 165, 52);
  color: rgb(36, 87, 36);
}
body {
  color: rgb(36, 87, 36);
}

nav {
  background: rgb(184, 245, 64);
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.boxproduit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:left;
}

.column {
  border: 2px solid rgb(36, 87, 36);
  background: rgb(250, 250, 92);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 15px;
  border-radius: 15px;
  line-height: 25px;
}
.flex,
.colonne {
  display: flex;
  align-items: center;
}

.colonne {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.index {
  display: flex;
  font-family: "Lobster", cursive;
}

#centrer {
  align-self: center;
  padding: 50px;
  line-height: 30px;
}

.coordonnées {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.ath {
  padding: 20px;
}

#texte {
  font-family: "Luxurious Roman", cursive;
}

.totalvalid {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.validation {
  color: black;
  padding: 15px;
  margin-bottom:30px;
  background: rgb(250, 250, 92);
  border-radius: 20px;
  font-family: "Lobster", cursive;
  font-size: 20px;
  border: 2px solid rgb(251, 165, 52);
  color: rgb(36, 87, 36);
}

.monpanier {
  display: flex;
  font-family: "Lobster", cursive;
  font-size: 25px;
}

.Panier {
  padding: 15px;
  border: 2px solid rgb(36, 87, 36);
}
.formvalid {
  border: 2px solid rgb(36, 87, 36);
  width: 50%;
  height: 100vh;
  text-align: left;
  display: flex;
  flex-direction: column;

  align-items: center;
  line-height: 50px;
}

.commande {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.btncommande {
  color: black;
  padding: 15px;
  background: rgb(250, 250, 92);
  border-radius: 20px;
  font-family: "Lobster", cursive;
  font-size: 20px;
  border: 2px solid rgb(251, 165, 52);
  color: rgb(36, 87, 36);
  margin: 15px;
}

.produitadmin {
  margin-top: 30px;
}

.mesliens a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(36, 87, 36);
  padding: 30px;
  border: 2px solid rgb(251, 165, 52);
  font-family: "Luxurious Roman", cursive;
  font-weight: bold;
  font-size: 25px;
  width: 30vw;
  margin-top: 10px;
  background: rgb(253, 177, 77);
  border-radius: 20px;
}

.gras {
  font-weight: bold;
  padding-bottom: 15px;
  font-size: 20px;
}


footer{
  text-align: center;
  background: rgb(184, 245, 64);
  border:10px solid rgb(184, 245, 64);
  position: fixed;
  bottom : 0;
  width:100%;
  height: 5px;
  color: rgb(184, 245, 64);
}

footer:hover{
  height: min-content;
  color: black;
}

.imageIndex{
  width:700px;
  height:600px;
}

.imageNormal{
  width:100px;
  height:100px;
}