
<header>
    <nav>
         <a href="espaceadmin.php">Espace administrateur</a>
         <a href="commandes.php">Commandes</a>
         <a href="information.php">Modifier informations</a>
         <a href="produits.php">Modifier Produit</a>
         <a href="suppression.php">Supprimer client BDD</a>

        <a href="logout.php">Déconnexion</a>
 
     </nav>
 </header>
 